.header{
  background-color: grey;
  color:white;
  margin-bottom: 20px;
}

.App {

  text-align: center;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  }
  
  button {
    border: 1px solid #eee;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    background-color: transparent;
    border-color: black;
    &:hover {
      background: black;
      color: white;
    }
  }